body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$primary-color: rgb(187, 151, 151);
$secondary-color: rgb(124, 95, 95);
$button-background: rgb(59, 59, 70);
$danger-color: #913333;

html {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
}

body {
  background-color: rgb(54, 54, 102);
}

.bold {
  font-weight: bold;
}

.button {
  padding: 10px 16px;
  background-color: $button-background;
  color: $primary-color;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: darken($button-background, 5);
  }

  &.is-danger {
    background-color: $danger-color;
    color: white;

    &:hover {
      background-color: darken($danger-color, 5);
    }
  }
}

.button-group {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}

.button-label {
  padding: 5px;
  min-width: 30px;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 0 0 auto;
  display: flex;
  padding: 10px;
  background-color: rgb(29, 29, 43);
  color: $primary-color;
}

.navbar {
  flex: 1 0 0;
  display: flex;
  padding: 10px;
  font-size: 18pt;
  overflow-x: auto;
}

.navbar-item {
  margin: 0 15px;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
  }

  &.is-selected {
    color: $secondary-color;
    text-decoration: underline;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.product-item {
  background-color: rgb(106, 106, 138);
  border: 1px solid #8d8181;
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
  width: 240px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
}

.product-details {
  padding: 10px;
}

.product-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
  height: 50px;
}

.product-purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .cart {
//   background-color: #8d8181;
//   position: absolute;
//   top: 77px;
//   right: 6px;
//   width: 500px;
//   display: flex;
//   flex-direction: column;
//   border-radius: 5px;
//   overflow: auto;
// }

// .cart > .cart-title {
//   flex: 1;
//   display: flex;
//   justify-content: center;
// }

// .empty-cart {
//   flex: 1;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 20px;
//   color: white;
// }

.cart {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: 180ms;
  background-color: rgb(89, 89, 145);
  border-left: 1px solid #e2e2e2;

  &.is-open {
    transform: translateX(0);
  }
}

.cart-header {
  flex: 0 0 auto;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
  justify-content: space-between;
  align-items: center;
}

.cart-empty {
  padding: 20px;
  text-align: center;
  flex: 1 0 0;
}

.cart-items {
  flex: 1 0 0;
  overflow-y: auto;
}

.cart-item {
  margin: 5px;
  padding: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
  }
}

.cart-item-title {
  font-size: 18pt;
  color: black;
  flex: 1 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.cart-item-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-total {
  font-size: 13pt;
  color: darkgray;
  flex: 0 0 auto;
  text-align: right;
}

.cart-footer {
  padding: 10px;
  border-top: 1px solid #e2e2e2;
}
